
%p
  = message

= form_with model: @user do |form|
  - if @user.errors.any?
    = @user.errors.full_messages.to_sentences

  Name: = #{form.text_field :name }
  %br/
  %br/
  Age: = #{form.text_field :age }
  %br/
  %br/
  City: = #{form.text_field :city }
  %br/
  %br/
  Gender: 
  = form.radio_button :gender, "male" , :checked => true
  = form.label :male, "Male" 
  = form.radio_button :gender, "female" 
  = form.label :female, "Female" 
  = form.radio_button :gender, "other" 
  = form.label :age_adult, "Other" 
  %br/
  %br/
  = form.check_box :status, {multiple: true}, "Student", nil
  = form.label :male, "Student" 
  = form.check_box :status, {multiple: true}, "Employee", nil
  = form.label :male, "Employee" 

  %br/
  %br/
  = form.submit
