-# <p> <%= message %> </p>
-# <%= form_with model: @user do |form| %>
-#   <% if @user.errors.any? %>
-#     <%= @user.errors.full_messages.to_sentence %>
-#   <%end%>
-#   Name: <%= form.text_field :name %> <br>
-#   <br>
-#   Age: <%= form.text_field :age %><br>
-#   <br>
-#   City: <%= form.text_field :city %><br>
-#   <br>
-#   <%= form.submit %>
-# <% end %>

%p
  = message

= form_with model: @user do |form|
  - if @user.errors.any?
    = @user.errors.full_messages.to_sentences

  Name: = #{form.text_field :name }
  %br/
  %br/
  Age: = #{form.text_field :age }
  %br/
  %br/
  City: = #{form.text_field :city }
  %br/
  = form.submit
